* {
    font-family: 'Overpass', sans-serif;
}

body {
    animation: fadeIn 1s linear;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    margin-bottom: 100px;
}

.slidePage {
    background-color: #100057;
    color: white;
    text-align: center;
}

footer {
    bottom: 0;
    height: 10%;
    position: absolute;
    width: 100%;
}

img {
    pointer-events: none;
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.footerButton {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    background-color: #8ca5ff;
    color: white;
    outline-width: 0;
}

.backArrow {
    position: fixed;
    left: 30px;
    bottom: 30px;
}

.forwardArrow {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

i {
    display: inline-flex;
    vertical-align: middle;
}

.backArrowIcon {
    position: absolute;
    left: 26px;
    bottom: 23px;
}

.forwardArrowIcon {
    position: absolute;
    right: 22px;
    bottom: 23px;
}

.displayHolder {
    margin-left: 15%;
    margin-right: 15%;
    position: relative;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

.displayContent {
    border: 5px solid gray;
    border-radius: 15px;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    max-height: calc(100vh - 300px);
}

.attribution {
    position: absolute;
    left: 0;
}

.attributionLink {
    color: white;
    text-decoration: none;
}

.imageCaption {
    position: absolute;
    right: 0;
    font-weight: bold;
}

.bottomProgress {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 3s filter;
    filter: hue-rotate(360deg);
}

.bottomProgress.after {
    filter: hue-rotate(0deg);
}

.bottomProgress::-webkit-progress-bar {
    background: transparent;
}

.bottomProgress::-webkit-progress-value {
    background: #c2d400;
}

.bottomProgress::-moz-progress-bar {
    background: #c2d400;
}

@media (max-width: 1200px) {
    .attribution {
        position: unset;
        display: block;
    }

    .imageCaption {
        position: unset;
        display: block;
    }
}

@media (max-width: 1000px) {
    .displayContent {
        height: 50vw;
    }
}